@media only screen and (max-width:950px){
   #app{
           width: 35%;
   }
   form, .movie-card {
        width: 300px;
        }
}
@media only screen and (max-width:650px){
        #app{
                width: 48%;
        }
        form, .movie-card {
             width: 290px;
        }
}
