* {
  box-sizing: border-box;
}

body{
  font-family: 'Courier New', Courier, monospace;
  background: url('/images/background.jpg') no-repeat;
  background: cover;
  color: white;
}

form, .movie-card {
  padding: 20px;
  width: 350px;
  border: 3px solid white;
  border-radius: 10px;
}

.current-rating {
  margin-left: 30px;
}

.movie-card {
  cursor: pointer;
}

.movie-card h3 {
  display: inline-block;
  margin: 0;
}

.card-rating {
  float: right;
}

.card-genre {
  float: right;
  margin: 0;
}

